<div class="container">
  <div class="matrix-menu">
      <button (click)="solve()">Ratkaise </button>
      <button (click)="writeLog()">Logita pvals </button>
      <br>
      pvals for cell 1,1:
      <div> {{ matrix.cells[0][0].pvals}}
        </div>
        pvals for cell 2,2:
        <div> {{ matrix.cells[1][1].pvals}}
          </div>  
  </div>
    
  <div class="matrix">
      <div *ngFor="let cells_on_row of matrix.cells">
        <app-cell class="cell" *ngFor="let cell of cells_on_row" [cell]="cell" [pvals]="cell.pvals">
        </app-cell>
      </div>

</div>
